<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SapFramework.Settings.ConfigApplication" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SapFramework.Settings.ConfigApplication>
            <setting name="SAPApplication" serializeAs="String">
                <value>SAPApplication</value>
            </setting>
            <setting name="SAPCompany" serializeAs="String">
                <value>SAPCompany</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>log</value>
            </setting>
            <setting name="LogName" serializeAs="String">
                <value>AddOnLog</value>
            </setting>
            <setting name="SAPConnectionString" serializeAs="String">
                <value>ConnString</value>
            </setting>
            <setting name="SAPConnectionControlInterval" serializeAs="String">
                <value>300000</value>
            </setting>
            <setting name="CreateReports" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastSortedCol" serializeAs="String">
                <value>LastSortedCol</value>
            </setting>
        </SapFramework.Settings.ConfigApplication>
    </userSettings>
</configuration>